<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
<style>
th {
  font-size:27px
}
h1 {
  font-size: 45px;
}
td {
  font-size: 25px;
}
</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo Engenharia Elétrica</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>

<body>
<h1>Grade Curricular<br>Engenharia Eletrônica - CTC/UFSC</h1>
<table style="width:100%", class="tabela-espacada">  
  <tr >
    <th>1º fase</th>
    <th>2º fase</th>
    <th>3º fase</th>
    <th>4º fase</th>
    <th>5º fase</th>
    <th>6º fase</th>
    <th>7º fase</th>
    <th>8º fase</th>
    <th>9º fase</th>
    <th>10º fase</th>
  </tr>
  
  <tr><!--1 linha-->

    <td><button id="EEL7011" onclick="carregarRecomendacoes('EEL7011')">EEL7011 (2)<br>Laboratório de Eletricidade Básica</button></td>
    <td><button id="EGR5619" onclick="carregarRecomendacoes('EGR5619')">EGR5619 (4)<br>Desenho Técnico para Engenharia Elétrica</button></td>
    <td><button id="ECZ5102" onclick="carregarRecomendacoes('ECZ5102')">ECZ5102 (2)<br>Conservação de Recursos Naturais</button></td>
    <td><button id="EEL7030" onclick="carregarRecomendacoes('EEL7030')">EEL7030 (4)<br>Microprocessadores</button></td>
    <td><button id="EEL7051" onclick="carregarRecomendacoes('EEL7051')">EEL7051 (4)<br>Materiais Elétricos</button></td>
    <td><button id="EEL7062" onclick="carregarRecomendacoes('EEL7062')">EEL7062 (5)<br>Princípios de Sistemas de Comunicação</button></td>
    <td><button id="EEL7319" onclick="carregarRecomendacoes('EEL7319')">EEL7319 (4)<br>Circuitos RF</button></td>
    <td><button id="EEL7610" onclick="carregarRecomendacoes('EEL7610')">EEL7610 (3)<br>Tópico Especial em Gestão</button></td>
    <td><button id="EEL7805" onclick="carregarRecomendacoes('EEL7805')">EEL7805 (4)<br>Ante-Projeto TCC</button></td>
    <td><button id="EEL7806" onclick="carregarRecomendacoes('EEL7806')">EEL7806 (16)<br>Projeto Final TCC</button></td>
  </tr>

  <tr><!--2 linha-->
    <td><button id="EEL7014" onclick="carregarRecomendacoes('EEL7014')">EEL7014 (2)<br>Introdução às Engenharias Elétrica e Eletrônica</button></td>
    <td><button id="FSC5002" onclick="carregarRecomendacoes('FSC5002')">FSC5002 (4)<br>Física II</button></td>
    <td><button id="EEL5105" onclick="carregarRecomendacoes('EEL5105')">EEL5105 (5)<br>Circuitos e Técnicas Digitais</button></td>
    <td><button id="EEL7041" onclick="carregarRecomendacoes('EEL7041')">EEL7041 (4)<br>Eletromagnetismo</button></td>
    <td><button id="EEL7052" onclick="carregarRecomendacoes('EEL7052')">EEL7052 (5)<br>Sistemas Lineares</button></td>
    <td><button id="EEL7303" onclick="carregarRecomendacoes('EEL7303')">EEL7303 (5)<br>Circuitos Eletrônicos Analógicos</button></td>
    <td><button id="EEL7322" onclick="carregarRecomendacoes('EEL7322')">EEL7322 (4)<br>Dispositivos Eletrônico</button></td>
    <td><button id=" " onclick="carregarRecomendacoes(' ')">Optativa Livre (4)</button></td>
    <td><button id="INE5407" onclick="carregarRecomendacoes('INE5407')">INE5407 (3)<br>Ciência, Tecnologia e Sociedade</button></td>
  </tr>
  
  <tr><!--3 linha-->
    <td class="EEL">FSC5101 (4)<br>Física I</td>
    <td class="EEL">FSC5122 (3)<br>Física Experimental I</td>
    <td class="EEL">EEL7013 (2)<br>Laboratório de Transdutores</td>
    <td class="EEL">EEL7045 (6)<br>Circuitos Elétricos A</td>
    <td class="EEL">EEL7053 (4)<br>Ondas Eletromagnéticas</td>
    
    <td class="EEL">EEL7522 (5)<br>Processamento DIgital de Sinais</td>
    <td class="EEL">EEL7074 (5)<br>Fundamentos de Comunicação Digital</td>
    <td class="EEL">Optativas Profissionalizantes (16)</td>
    <td class="EEL">Optativas Profissionalizantes (12)</td>

    <td><button id="FSC5101" onclick="carregarRecomendacoes('FSC5101')">FSC5101 (4)<br>Física I</button></td>
    <td><button id="FSC5122" onclick="carregarRecomendacoes('FSC5122')">FSC5122 (3)<br>Física Experimental I</button></td>
    <td><button id="EEL7013" onclick="carregarRecomendacoes('EEL7013')">EEL7013 (2)<br>Laboratório de Transdutores</button></td>
    <td><button id="EEL7045" onclick="carregarRecomendacoes('EEL7045')">EEL7045 (6)<br>Circuitos Elétricos A</button></td>
    <td><button id="EEL7053" onclick="carregarRecomendacoes('EEL7053')">EEL7053 (4)<br>Ondas Eletromagnéticas</button></td>

    <td><button id="EEL7063" onclick="carregarRecomendacoes('EEL7063')">EEL7063 (6)<br>Sistemas de Controle (Teoria e Laboratório)</button></td>
    <td><button id="EEL7074" onclick="carregarRecomendacoes('EEL7074')">EEL7074 (5)<br>Eletrônica de Potência I</button></td>
    <td><button id="optativas" onclick="carregarRecomendacoes('-')">Disciplinas Optativas (20)</button></td>
    <td><button id="optativas_prof" onclick="carregarRecomendacoes('-')">Disciplinas Optativas Profissionalizantes (4)</button></td>
  </tr>

  <tr><!--4 linha-->
    <td class="EEL">LLV7801 (4)<br>Produção Textual Acadêmica</td>
    <td class="EEL">INE5201 (3)<br>Introdução à Ciência da Computação</td>
    <td class="EEL">FSC5113 (4)<br>Física III</td>
    <td class="EEL">EPS7019 (3)<br>Engenharia Ecônomica</td>
    <td class="EEL">EEL7061 (6)<br>Eletrônica I</td>
    <td class="EEL">FSC5506 (6)<br>Estrutura da Matéria I</td>
    <td class="EEL">EEL7802 (3)<br>Projeto em Eletrônica II</td>
    <td></td>
    <td class="EEL">Optativa Livre (4)</td>
  </tr>

  <tr><!--5 linha-->
    <td class="EEL">MTM3101 (4)<br>Cálculo 1</td>
    <td class="EEL">MTM3102 (4)<br>Cálculo 2</td>
    <td class="EEL">INE5118 (4)<br>Probabilidade Estatística e Processos Estocásticos</td>
    <td class="EEL">FSC5114 (4)<br>Física IV</td>
    <td class="EEL">EEL7801 (3)<br>Projeto em Eletrônica I</td>
    <td class="EEL">INE5411<br>Organização de Computadores I</td>
    <td class="EEL">EEL7885 (4)<br>Fundamentos de Engenharia Biomédica</td>
  </tr>

  <tr><!--6 linha-->
    <td class="EEL">MTM3111 (4)<br>Geometria Analítica</td>
    <td class="EEL">MTM3112 (4)<br>Álgebra Linear</td>
    <td class="EEL">INE5202 (4)<br>Cálculo Numérico em Computadores</td>
    <td class="EEL">MTM3104 (4)<br>Cálculo 4</td>
    <td class="EEL">INE5406 (5)<br>Sistema Digitais</td>
    <td></td>
    <td class="EEL">Optativas Profissionalizantes</td>
  </tr>

  <tr><!--7 linha-->
    <td  class="EEL">QMC5125 (2)<br>Química Geral Experimental A</td>
    <td></td>
    <td class="EEL">MTM3103 (4)<br>Cálculo 3</td>
  </tr>

  <tr><!--8 linha-->
    <td class="EEL">QMC5138 (2)<br>Química Geral</td>
  </tr>
</table>
</body>

</html>

